*.swp
*.out
*.o
*.so
*.a
vgcore.*
gdb.txt
__pycache__
python/rnd_wrap.cxx
env
examples/example_cpp
examples/example_c
bin/test_*
autoscan.log
aclocal.m4
autom4te.cache
configure
m4
compile
depcomp
install-sh
ltmain.sh
missing
Makefile.in
test-driver
Makefile
.deps
config.*
libtool
stamp-h1
.dirstamp
.libs
*.la
*.lo
